<nav class="menu">
  <LinkTo @route="index" class="menu-index">
    <h1>SuperRentals</h1>
  </LinkTo>
  <div class="links">
    <LinkTo @route="about" class="menu-about">
      About
    </LinkTo>
    <LinkTo @route="contact" class="menu-contact">
      Contact
    </LinkTo>

    <LinkTo @route="createPost" class="menu-contact">
      Cretate Post
    </LinkTo>

    <LinkTo @route="login" class="menu-contact">
      Log Out
    </LinkTo>
  </div>

</nav>

{{yield}}